.question-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:absolute;
    top: 220px;
    z-index: 0;
}

ion-card{
    --background: linear-gradient(135deg, #f9cbcb, #8e8eba);
    border-radius: 10px;
    height: 0px;
    width: 95%;
    padding: 5%;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-size: small;
    text-align: center;
    align-content: center;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    z-index:0;
    color:var(--ion-color-primary);
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
}

.show{
    height: 120px;
    opacity: 1;
    margin: 10px;
    padding: 20px;
}

.answer-card{
    height: 120px;
    opacity: 1;
    margin: 10px;
    padding: 20px;
    margin-top: 50px;
}

ion-textarea {
    --color: var(--ion-color-tertiary);
}