.app-content{
    // background: url('../../assets/background/Beach.jpg') no-repeat center center fixed;
    background: url('../assets/background/Beach.jpg');
    background-repeat: no-repeat;
    background-position:70%;
    background-size: cover;
    height: 100%;
}